@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #020817;
  --foreground: #e0f2fe;
  --primary-blue: #1e3a8a;
  --secondary-blue: #1e40af;
  --accent-blue: #3b82f6;
  --dark-blue: #0c1e3d;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
